<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  " ng-controller="OverviewController">
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Overview</h1>
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
      <!-- stats -->
      <div class="row">
        <div class="col-md-12">
          <div class="row row-sm text-center">
            <div class="col-xs-3">
              <div class="panel padder-v item">
                <div class="h1 text-info font-thin h1">{{overview.all_task}}</div>
                <span class="text-muted text-xs">All Tasks</span>
                <div class="top text-right w-full">
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <a href class="block panel padder-v bg-primary item">
                <span class="text-white font-thin h1 block">{{overview.tasks_launching_num}}</span>
                <span class="text-muted text-xs">Launching Tasks</span>
                <span class="bottom text-right w-full">
                </span>
              </a>
            </div>
            <div class="col-xs-3">
              <a href class="block panel padder-v bg-info item">
                <span class="text-white font-thin h1 block">{{overview.success}}</span>
                <span class="text-muted text-xs">Successd Logs</span>
                <span class="top text-left">
                </span>
              </a>
            </div>
            <div class="col-xs-3">
              <div class="panel padder-v item">
                <div class="font-thin h1">{{overview.fail}}</div>
                <span class="text-muted text-xs">Fail Logs</span>
                <div class="bottom text-left">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / stats -->
    </div>

    <div class="wrapper-md">
        <div class="panel panel-default">
          <div class="panel-heading">
            Launching
          </div>
          <div class="panel-body b-b b-light">
            Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
          </div>
          <div>
            <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="10">
              <thead>
                <tr>
                    <th> Task Name </th>
                    <th> Task Type </th>
                    <th> Launch Type </th>
                    <th> Date </th>
                    <th> Create Time </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="to in overview.launching_tasks">
                    <td>{{to["name"]}}</td>
                    <td>{{to["task_type"]}}</td>
                    <td>{{to["launch_type"]}}</td>
                    <td>{{to["launch_type"] != "crontab" ? to["date"] : to["crontab"]}}</td>
                    <td>{{to["create_time"] * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                </tr>
              </tbody>
              <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

      <div class="wrapper-md">
        <div class="panel panel-default">
          <div class="panel-heading">
            Logs
          </div>
          <div class="panel-body b-b b-light">
            Search: <input id="filterlog" type="text" class="form-control input-sm w-sm inline m-r"/>
          </div>
          <div>
            <table class="table m-b-none" ui-jq="footable" data-filter="#filterlog" data-page-size="10">
              <thead>
                <tr>
                    <th> Task Name </th>
                    <th> Task Type </th>
                    <th> Launch Type </th>
                    <th> Status </th>
                    <th> Start Time </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="to in overview.logs">
                    <td>{{to["name"]}}</td>
                    <td>{{to["task_type"]}}</td>
                    <td>{{to["launch_type"]}}</td>
                    <td>{{to["status"]}}</td>
                    <td>{{to["start_time"] * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                </tr>
              </tbody>
              <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>